<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.hanchou.{{PROFILE}}.beads-ui</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{BDUI_BIN}}</string>
    <string>start</string>
    <string>--host</string><string>{{HOST}}</string>
    <string>--port</string><string>{{PORT}}</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{CONTROL_DIR}}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>{{PATH}}</string>
    <key>HANCHOU_PROFILE</key><string>{{PROFILE}}</string>
    <key>HANCHOU_CORE_ROOT</key><string>{{CORE_ROOT}}</string>
    <key>HANCHOU_WORKSPACE_ROOT</key><string>{{WORKSPACE_ROOT}}</string>
    <key>HANCHOU_INSTANCE_ROOT</key><string>{{INSTANCE_ROOT}}</string>
    <key>HANCHOU_INSTANCE_PROFILE</key><string>{{INSTANCE_PROFILE}}</string>
    <key>HANCHOU_SERVICE_FINGERPRINT</key><string>{{FINGERPRINT}}</string>
    <key>BEADS_DIR</key><string>{{BEADS_DIR}}</string>
    <key>BD_BIN</key><string>{{BD_BIN}}</string>
    <key>BDUI_RUNTIME_DIR</key><string>{{STATE_ROOT}}/run/beads-ui</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>{{STATE_ROOT}}/logs/beads-ui.out.log</string>
  <key>StandardErrorPath</key><string>{{STATE_ROOT}}/logs/beads-ui.err.log</string>
</dict>
</plist>
